

/* Icon */
/* ================================================================================================== */

.nx-icon img {
	width: 100%;
}


/* Button */
/* ================================================================================================== */

/* IconButton */
/* -------------------------------------------------------------------------------- */

.nx-icon-button {
	height: 48px;
	width: 48px;
	display: flex;
	align-items: center;
	border-radius: 100%;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
	cursor: pointer;
}
.nx-icon-button.black:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.nx-icon-button.black:active {
	background-color: rgba(0, 0, 0, 0.2);
}

.nx-icon-button .nx-icon {
	margin-left: auto;
	margin-right: auto;
}
.nx-icon-button.black:active .nx-icon {
	transform: scale(0.95);
}

.nx-icon-button.disabled {
	pointer-events: none;
	opacity: 0.5;
}

/* Button */
/* -------------------------------------------------------------------------------- */

.nx-button {
	min-width: 64px;
	border-radius: 4px;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.75;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 16px;
	cursor: pointer;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	box-sizing: border-box;
}
.nx-button:active {
	transform: scale(0.95);
}

.nx-button.disabled {
	pointer-events: none;
}

.nx-button:not(.disabled).contained {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
.nx-button:not(.disabled).contained:hover {
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.nx-button.outlined {

}


/* Popover */
/* ================================================================================================== */

.nx-popover-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 500;
}

.nx-popover {
	position: absolute;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 0px 10px gray;
	z-index: 510;
}


/* Avatar */
/* ================================================================================================== */

.nx-avatar {
/*	height: 48px;
	width: 48px;*/
	min-height: 48px;
	max-height: 48px;
	min-width: 48px;
	max-width: 48px;
	display: flex;
	align-items: center;
	border-radius: 100%;
}
.nx-avatar.small {
	min-height: 36px;
	max-height: 36px;
	min-width: 36px;
	max-width: 36px;
}

.nx-avatar .nx-icon {
	margin-left: auto;
	margin-right: auto;
}


/* List */
/* ================================================================================================== */

.nx-list {

}

/* Item */
/* -------------------------------------------------------------------------------- */

.nx-list-item {
	min-height: 24px;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nx-list-item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.nx-list-item:active {
	background-color: rgba(0, 0, 0, 0.2);
}

/* ---- */
/* Icon */
/* ---- */

.nx-list-icon {

}

/* ---- */
/* Text */
/* ---- */

.nx-list-text {
	padding-right: 18px;
	box-sizing: border-box;
	font-size: 14px;
}


/* Divider */
/* ================================================================================================== */

.nx-divider {
	height: 1px;
	background-color: rgba(0, 0, 0, 0.12);
}


/* Header */
/* ================================================================================================== */

.nx-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0px 0px 10px #d3d3d3 !important;
	/*box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;*/
	padding-top: 5px;
	padding-bottom: 5px;
}

.break-650 .nx-header {
	padding-top: 0px;
	padding-bottom: 0px;
}

.nx-header-divider {
	flex: none;
	min-width: 1px;
	max-width: 1px;
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

/* Left */
/* -------------------------------------------------------------------------------- */

.nx-header-left {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-right: 10px;
}

/* ----- */
/* Title */
/* ----- */

.nx-header-title {
	font-size: 16px;
}
.nx-header-titles-wrapper.centered .nx-header-title {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.nx-header-subtitle {
	font-size: 13px;
	opacity: 0.8;
}
.nx-header-titles-wrapper.centered .nx-header-subtitle {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

/* Middle */
/* -------------------------------------------------------------------------------- */

.nx-header-middle {
	flex: 1;
}

/* Right */
/* -------------------------------------------------------------------------------- */

.nx-header-right {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-left: 10px;
}

/* --------- */
/* User Menu */
/* --------- */

.nx-account-name {
	padding: 5px 10px;
	font-weight: bold;
	font-size: 14px;
	color: white;
	background-color: dimgray;
	border-radius: 4px 4px 0px 0px;
}


/* Drawer */
/* ================================================================================================== */

.nx-drawer-wrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 500;
}

.nx-drawer {
	width: 240px;
	box-shadow: 0px 0px 10px black;
	position: absolute;
	top: 0px;
	bottom: 0px;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	background-color: white;
}

.nx-drawer.left {
	left: 0px;
}
.nx-drawer.right {
	right: 0px;
}


/* Menu */
/* ================================================================================================== */

.nx-menu {
	width: 240px;
	border-right: 1px solid rgba(0, 0, 0, 0.12);
	background-color: #FFFFFF;
	padding-top: 10px;
}

.nx-menu.retracted {
	width: 48px;
	overflow: hidden;
}

/* Content */
/* -------------------------------------------------------------------------------- */

.nx-menu-content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
}

/* Item */
/* -------------------------------------------------------------------------------- */

.nx-menu-items-wrapper {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

.nx-menu-item {
	display: flex;
	align-items: center;
	height: 36px;
	cursor: pointer;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
}
.nx-menu-item.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.nx-menu-item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.nx-menu-item:active {
	background-color: rgba(0, 0, 0, 0.2);
}

.nx-menu-item .nx-avatar {
	margin-right: 16px;
	opacity: 0.5;
}
.nx-menu-item.active .nx-avatar {
	opacity: 1;
}

.nx-menu-item-label {
	font-size: 14px;
}


/* Menu */
/* ================================================================================================== */

.nx-portal {
	width: 240px;
	border-left: 1px solid rgba(0, 0, 0, 0.12);
	background-color: #FFFFFF;
	padding-top: 10px;
}

.nx-portal.retracted {
	width: 48px;
	overflow: hidden;
}

/* Content */
/* -------------------------------------------------------------------------------- */

.nx-portal-content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
}

.nx-portal-area {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Shortcuts */
/* -------------------------------------------------------------------------------- */

.nx-portal-shortcuts-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding:  10px;
}

.nx-portal.retracted .nx-portal-shortcuts-wrapper {
	padding: unset;
}

.nx-portal-shortcut {
	min-width: 90px;
	max-width: 90px;
	min-height: 90px;
	max-height: 90px;
	border-radius: 10px;
	margin: 10px 10px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-decoration: none;
	border: 2px solid rgb(235, 235, 235);
	box-sizing: border-box;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.nx-portal-shortcut:hover {
	background-color: rgb(235, 235, 235);
}
.nx-portal-shortcut:active {
	transform: scale(0.8);
}

.nx-portal.retracted .nx-portal-shortcut {
	min-width: 48px;
	max-width: 48px;
	min-height: 48px;
	max-height: 48px;
	border-radius: 0px;
	border: unset;
}

.nx-portal-shortcut-icon {
	margin-top: 10px;
}

.nx-portal.retracted .nx-portal-shortcut-icon {
	margin-top: unset;
	width: 36px;
}

.nx-portal-shortcut-label {
	color: black;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	margin: 0px 5px 10px 5px;
}

.nx-portal.retracted .nx-portal-shortcut-label {
	display: none;
}


/* Snackbar */
/* ================================================================================================== */

.nx-snackbar {
	min-width: 288px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.43;
	font-size: 0.875rem;
	letter-spacing: 0.01071em;
	color: white;
	display: flex;
	align-items: center;
	padding: 6px;
	border-radius: 4px;

	position: absolute;
	bottom: 24px;
	left: 50%;
	right: auto;
	transform: translateX(-50%);
}

.nx-snackbar-msg {
	flex: 1;
}


/* Helper */
/* ================================================================================================== */

/* Paraph */
/* -------------------------------------------------------------------------------- */

.nx-helper-paraph {
	font-size: 14px;
	color: gray;
}

.nx-helper-paraph-title {
	font-weight: bold;
	margin-bottom: 5px;
}

/* Helper */
/* -------------------------------------------------------------------------------- */

.nx-helper {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	align-items: center;
	flex-direction: row;
	pointer-events: none;
}

.nx-helper-content {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.nx-helper-content > *:not(:last-child) {
	margin-bottom: 20px;
}

.nx-helper-icon {
	width: 120px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nx-helper-title {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.nx-helper-subtitle {
	font-size: 14px;
	text-align: center;
}



/* Section */
/* ================================================================================================== */

.nx-section {
	background-color: white;
	box-shadow: 0 0 10px #d3d3d3!important;
	border-radius: 3px!important;
}

/* Header */
/* -------------------------------------------------------------------------------- */

.nx-section-header {
	background-color: #fafafa;
	min-height: 39px;
	display: flex;
	align-items: center;
	border-radius: 3px 3px 0px 0px;
}

.nx-section-icon {
	padding: 8px 8px 8px 10px;
}

.nx-section-header-title {
	font-size: 15px !important;
	font-family: sans-serif !important;
	font-weight: 700 !important;
	color: #757575 !important;
	flex: 1;
	padding: 0px 10px;
}

/* Content */
/* -------------------------------------------------------------------------------- */

.nx-section-content {
	padding: 10px;
}

/* Footer */
/* -------------------------------------------------------------------------------- */

.nx-section-buttonset {
	padding: 10px;
}


/* Row */
/* ================================================================================================== */

.nx-row.margin-bottom:not(:last-child) {
	margin-bottom: 10px;
}


/* Field */
/* ================================================================================================== */

.nx-field.error {
	background: linear-gradient(0deg, rgba(255,0,0,.06), transparent);
	border-radius: 3px;
}

/* Label */
/* -------------------------------------------------------------------------------- */

.nx-field-label {
	font-size: 14px;
	font-weight: 700;
	color: grey;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	letter-spacing: .00938em;
	margin-bottom: 3px;
	min-height: 18px;
}

.nx-field.disabled .nx-field-label {
	opacity: 0.7;
}

.nx-field.error .nx-field-label {
	color: red;
}

/* Input */
/* -------------------------------------------------------------------------------- */

.nx-input-wrapper {
	position: relative;
}

.nx-input-wrapper.with-start-adornment .nx-icon {
	position: absolute;
	left: 6px;
	top: 7px;
}
.nx-input-wrapper.with-end-adornment .nx-icon {
	position: absolute;
	right: 6px;
	top: 7px;
}

.nx-field-input,
.nx-field-select,
.nx-field-textarea {
	padding: 6px 12px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	box-sizing: border-box;
	line-height: 23px;
	border-radius: 4px;
	font-size: 12px;
	border: 1px solid rgba(0, 0, 0, 0.23);
	outline: none;
	margin: 0px;
	width: 100%;
	min-height: 38px;
}

.nx-field.disabled .nx-field-input,
.nx-field.disabled .nx-field-select,
.nx-field.disabled .nx-field-textarea {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.nx-field-input:hover,
.nx-field-select:hover,
.nx-field-textarea:hover {
	border: 1px solid rgba(0, 0, 0, 0.87);
}

.nx-field.error .nx-field-input,
.nx-field.error .nx-field-select,
.nx-field.error .nx-field-textarea {
	border: 1px solid red;
}

.nx-input-wrapper.with-start-adornment .nx-field-input,
.nx-input-wrapper.with-start-adornment .nx-field-select,
.nx-input-wrapper.with-start-adornment .nx-field-textarea {
	padding-left: 36px;
}

.nx-input-wrapper.with-end-adornment .nx-field-input,
.nx-input-wrapper.with-end-adornment .nx-field-select,
.nx-input-wrapper.with-end-adornment .nx-field-textarea {
	padding-right: 36px;
}

/* Select */
/* -------------------------------------------------------------------------------- */

.nx-field-select {
	-webkit-appearance: none;
	background-color: white;
}

/* Error */
/* -------------------------------------------------------------------------------- */

.nx-field-error {
	color: red;
	padding: 8px 10px;
	font-size: 13px;
}






/* NxApp */
/* ================================================================================================== */

#nx-app {
	margin: 0px;
	font-family: Roboto;
	user-select: none;
	-webkit-user-select: none;
	background-color: #F5F5F5;
	cursor: default;
}

/* Layout */
/* -------------------------------------------------------------------------------- */

#nx-base {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#nx-content {
	display: flex;
	flex-grow: 1;
	overflow: auto;
}

#nx-main {
	flex-grow: 1;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
}

.nx-page {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 10px;
}
.break-414 .nx-page {
	padding: 10px 10px 20px 10px;
}

.nx-page.small {
	max-width: 500px;
}

/* Flex */
/* -------------------------------------------------------------------------------- */

/* Vertical */

.v-col,
.v-col-small,
.v-col-medium,
.v-col-large,
.v-col-xlarge {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.v-col > *,
.v-col-small > *,
.v-col-medium > *,
.v-col-large > *,
.v-col-xlarge > * {
	flex: 1;
}

.v-col-small > *:not(:last-child) {
	margin-bottom: 0.75rem;
}

.v-col-medium > *:not(:last-child) {
	margin-bottom: 1.15rem;
}

.v-col-large > *:not(:last-child) {
	margin-bottom: 1.5rem;
}

.v-col-xlarge > *:not(:last-child) {
	margin-bottom: 2rem;
}

/* Horizontal */

.h-col,
.h-col-small,
.h-col-medium,
.h-col-large,
.h-col-xlarge {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.h-col > *,
.h-col-small > *,
.h-col-medium > *,
.h-col-large > *,
.h-col-xlarge > * {
	flex: 1;
}

.h-col-small > *:not(:last-child) {
	margin-right: 0.75rem;
}
.h-col-medium > *:not(:last-child) {
	margin-right: 1.5rem;
}
.h-col-large > *:not(:last-child) {
	margin-right: 3.5rem;
}
.h-col-xlarge > *:not(:last-child) {
	margin-right: 4.5rem;
}

.break-414 .h-col.responsive-vertical > *,
.break-414 .h-col-small.responsive-vertical > *,
.break-414 .h-col-medium.responsive-vertical > *,
.break-414 .h-col-large.responsive-vertical > *,
.break-414 .h-col-xlarge.responsive-vertical > * {
	margin-right: 0px;
}

@media screen and (max-width: 414px) {
	.h-col.responsive-vertical > *,
	.h-col-small.responsive-vertical > *,
	.h-col-medium.responsive-vertical > *,
	.h-col-large.responsive-vertical > *,
	.h-col-xlarge.responsive-vertical > * {
		margin-right: 0px;
	}
}

.break-650 .h-col.fast-responsive-vertical > *,
.break-650 .h-col-small.fast-responsive-vertical > *,
.break-650 .h-col-medium.fast-responsive-vertical > *,
.break-650 .h-col-large.fast-responsive-vertical > *,
.break-650 .h-col-xlarge.fast-responsive-vertical > * {
	margin-right: 0px;
}

@media screen and (max-width: 650px) {
	.h-col.fast-responsive-vertical > *,
	.h-col-small.fast-responsive-vertical > *,
	.h-col-medium.fast-responsive-vertical > *,
	.h-col-large.fast-responsive-vertical > *,
	.h-col-xlarge.fast-responsive-vertical > * {
		margin-right: 0px;
	}
}

/* Alignements */

.flex-align-start {
	align-items: flex-start;
}

.flex-align-end {
	align-items: flex-end;
}

.flex-align-center {
	align-items: center;
}

.flex-align-stretch {
	align-items: stretch;
}

/* Justify */

.flex-justify-space-between {
	justify-content: space-between;
}

.flex-justify-space-around {
	justify-content: space-around;
}

/* Dimentions */

*[flex="0"], *[data-flex="0"], .flex-0 { flex:none !important; width: auto; }
*[flex="1"], *[data-flex="1"], .flex-1 { flex:1; }
*[flex="2"], *[data-flex="2"], .flex-2 { flex:2 !important; }
*[flex="3"], *[data-flex="3"], .flex-3 { flex:3 !important; }
*[flex="4"], *[data-flex="4"], .flex-4 { flex:4 !important; }
*[flex="5"], *[data-flex="5"], .flex-5 { flex:5 !important; }
*[flex="6"], *[data-flex="6"], .flex-6 { flex:6 !important; }
*[flex="7"], *[data-flex="7"], .flex-7 { flex:7 !important; }
*[flex="8"], *[data-flex="8"], .flex-8 { flex:8 !important; }
*[flex="9"], *[data-flex="9"], .flex-9 { flex:9 !important; }
*[flex="10"], *[data-flex="10"], .flex-10 { flex:10 !important; }
*[flex="11"], *[data-flex="11"], .flex-11 { flex:11 !important; }

/* Responsive */
/* -------------------------------------------------------------------------------- */

.responsive-only {
	display: none !important;
}

/* Break visibility */

.break-650 .responsive-only,
.break-414 .responsive-only {
	display: flex !important;
}

.break-650 .responsive-hidden,
.break-414 .responsive-hidden {
	display: none !important;
}

@media screen and (max-width: 650px) {
	.responsive-only {
		display: flex !important;
	}
	.responsive-hidden {
		display: none !important;
	}
}

/* Break orientation */

.break-414 .responsive-vertical {
	flex-direction: column !important;
}
.break-414 .responsive-vertical-reverse {
	flex-direction: column-reverse !important;
}

.break-414 .responsive-horizontal {
	flex-direction: row !important;
}
.break-414 .responsive-horizontal-reverse {
	flex-direction: row-reverse !important;
}

@media screen and (max-width: 414px) {
	.responsive-vertical {
		flex-direction: column !important;
	}
	.responsive-vertical.responsive-spaced-none > *:not(:last-child) {
		margin-bottom: 0px !important;
	}
	.responsive-vertical.responsive-spaced-small > *:not(:last-child) {
		margin-bottom: 5px !important;
	}
	.responsive-vertical.responsive-spaced-medium > *:not(:last-child) {
		margin-bottom: 10px !important;
	}
	.responsive-vertical.responsive-spaced-large > *:not(:last-child) {
		margin-bottom: 20px !important;
	}
}

@media screen and (max-width: 650px) {
	.fast-responsive-vertical {
		flex-direction: column !important;
	}
	.fast-responsive-vertical.responsive-spaced-none > *:not(:last-child) {
		margin-bottom: 5px !important;
	}
	.fast-responsive-vertical.responsive-spaced-small > *:not(:last-child) {
		margin-bottom: 5px !important;
	}
	.fast-responsive-vertical.responsive-spaced-medium > *:not(:last-child) {
		margin-bottom: 10px !important;
	}
	.fast-responsive-vertical.responsive-spaced-large > *:not(:last-child) {
		margin-bottom: 20px !important;
	}
}

/* Break alignment */

.break-414 .responsive-centered {
	margin-left: auto;
	margin-right: auto;
}

.break-414 .responsive-align-start {
	align-items: flex-start !important;
}
.break-414 .responsive-align-stretch {
	align-items: stretch !important;
}

@media screen and (max-width: 414px) {
	.responsive-align-start {
		align-items: flex-start !important;
	}
	.responsive-align-stretch {
		align-items: stretch !important;
	}
}
@media screen and (max-width: 650px) {
	.responsive-align-start {
		align-items: flex-start !important;
	}
	.responsive-align-stretch {
		align-items: stretch !important;
	}
}

/* Break paddings */

.break-414 .responsive-vertical > *:not(:last-child) {
	margin-right: 0px;
	margin-bottom: 10px;
}

.break-414 .break-h-padding {
	padding: 0px 12px;
}
.break-375 .break-h-padding {
	padding: 0px 10px;
}
.break-320 .break-h-padding {
	padding: 0px 8px;
}

.break-414 .break-v-top-padding {
	padding-top: 12px;
}
.break-375 .break-v-top-padding {
	padding-top: 10px;
}
.break-320 .break-v-top-padding {
	padding-top: 8px;
}

.break-414 .break-v-padding {
	padding: 12px 0px;
}
.break-375 .break-v-padding {
	padding: 10px 0px;
}
.break-320 .break-v-padding {
	padding: 8px 0px;
}

/* Theme */
/* -------------------------------------------------------------------------------- */








/* Heading */
/* ================================================================================================== */

.nx-heading {
	text-transform: uppercase;
	padding: 5px 0px;
	font-weight: 700;
	font-size: 14px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	color: gray;
}

.nx-heading.centered {
	text-align: center;
}


/* Indicator */
/* ================================================================================================== */

.nx-indicator {
	padding: 4px 10px;
	text-align: center;
	font-size: 14px;
	border-radius: 20px;
}





