
/* Drawer */
/* ================================================================================================== */

.nx-drawer-wrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 500;
}

.nx-drawer {
	width: 240px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	box-shadow: 0px 0px 10px black;
	background-color: #FFFFFF;
}
.ui-dark .nx-drawer {
	background-color: #121212;
}

.nx-drawer.left {
	left: 0px;
}
.nx-drawer.right {
	right: 0px;
}


/* Icon */
/* ================================================================================================== */

.nx-icon img {
	width: 100%;
}


/* Avatar */
/* ================================================================================================== */

.nx-avatar {
/*	height: 48px;
	width: 48px;*/
	min-height: 48px;
	max-height: 48px;
	min-width: 48px;
	max-width: 48px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
.nx-avatar.small {
	min-height: 36px;
	max-height: 36px;
	min-width: 36px;
	max-width: 36px;
}
.nx-avatar.large {
	min-height: 56px;
	max-height: 56px;
	min-width: 56px;
	max-width: 56px;
}
.nx-avatar.big {
	min-height: 80px;
	max-height: 80px;
	min-width: 80px;
	max-width: 80px;
}

/* Icon */
/* -------------------------------------------------------------------------------- */

.nx-avatar .nx-icon {
	margin-left: auto;
	margin-right: auto;
}

/* Img */
/* -------------------------------------------------------------------------------- */

.nx-avatar-img {
	width: 100%;
	height: 100%;
	text-align: center;
	object-fit: cover;
	color: transparent;
	text-indent: 10000px;
}


/* Divider */
/* ================================================================================================== */

.nx-divider {
	min-height: 1px;
	background-color: rgba(0, 0, 0, 0.12);
}
.ui-dark .nx-divider {
	background-color: rgba(255, 255, 255, 0.12);
}

.nx-divider.with-title {
	background-color: rgba(0, 0, 0, 0.05);
}
.ui-dark .nx-divider.with-title {
	background-color: rgba(255, 255, 255, 0.05);
}

.nx-divider-title {
	text-align: center;
	font-size: 12px;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: gray;
}
.ui-dark .nx-divider-title {
	color: #bdbdbd;
}


/* Button */
/* ================================================================================================== */

/* IconButton */
/* -------------------------------------------------------------------------------- */

.nx-icon-button {
	height: 48px;
	width: 48px;
	display: flex;
	align-items: center;
	border-radius: 100%;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
	cursor: pointer;
	-webkit-app-region: no-drag;
	box-sizing: border-box;
}
/*.nx-icon-button.black:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.nx-icon-button.black:active {
	background-color: rgba(0, 0, 0, 0.2);
}
*/
.nx-icon-button.small {
	height: 24px;
	width: 24px;
}

.nx-icon-button .nx-icon {
	margin-left: auto;
	margin-right: auto;
}
.nx-icon-button:active {
	transform: scale(0.95);
}

.nx-icon-button.disabled {
	pointer-events: none;
	opacity: 0.5;
}

/* Button */
/* -------------------------------------------------------------------------------- */

.nx-button {
	min-width: 64px;
	border-radius: 4px;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.75;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 16px;
	cursor: pointer;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.nx-button:active {
	transform: scale(0.95);
}

.nx-button.disabled {
	pointer-events: none;
}

.nx-button:not(.disabled).contained {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
.nx-button:not(.disabled).contained:hover {
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.nx-button.outlined {

}

.nx-button-start-adornment {
	margin-left: -10px;
}

.nx-button-end-adornment {
	margin-right: -10px;
}


/* Menu */
/* ================================================================================================== */

.nx-portal {
	width: 240px;
	padding-top: 10px;
	background-color: #FFFFFF;
	border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.ui-dark .nx-portal {
	background-color: #121212;
	border-left: 1px solid rgba(255, 255, 255, 0.12);
}

.nx-portal.retracted {
	width: 48px;
	overflow: hidden;
}

/* Content */
/* -------------------------------------------------------------------------------- */

.nx-portal-content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
}

.nx-portal-area {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Shortcuts */
/* -------------------------------------------------------------------------------- */

.nx-portal-shortcuts-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding:  10px;
}

.nx-portal.retracted .nx-portal-shortcuts-wrapper {
	padding: unset;
}

.nx-portal-shortcut {
	min-width: 90px;
	max-width: 90px;
	min-height: 90px;
	max-height: 90px;
	border-radius: 10px;
	margin: 10px 10px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-decoration: none;
	border: 2px solid rgb(235, 235, 235);
	box-sizing: border-box;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.ui-dark .nx-portal-shortcut {
	border: 2px solid #414141;
}

.nx-portal-shortcut:hover {
	background-color: rgb(235, 235, 235);
}
.ui-dark .nx-portal-shortcut:hover {
	background-color: #414141;
}

.nx-portal-shortcut:active {
	transform: scale(0.8);
}

.nx-portal.retracted .nx-portal-shortcut {
	min-width: 48px;
	max-width: 48px;
	min-height: 48px;
	max-height: 48px;
	border-radius: 0px;
	border: unset;
}

.nx-portal-shortcut-icon {
	margin-top: 10px;
}

.nx-portal.retracted .nx-portal-shortcut-icon {
	margin-top: unset;
	width: 36px;
}

.nx-portal-shortcut-label {
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	margin: 0px 5px 10px 5px;
	color: black;
}
.ui-dark .nx-portal-shortcut-label {
	color: white;
}

.nx-portal.retracted .nx-portal-shortcut-label {
	display: none;
}


/* Helper */
/* ================================================================================================== */

/* Paraph */
/* -------------------------------------------------------------------------------- */

.nx-helper-paraph {
	font-size: 14px;
	color: gray;
}

.nx-helper-paraph-title {
	font-weight: bold;
	margin-bottom: 5px;
}

/* Helper */
/* -------------------------------------------------------------------------------- */

.nx-helper {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	align-items: center;
	flex-direction: row;
	/*pointer-events: none;*/
}

.nx-helper.in-flux {
	position: unset;
}

.nx-helper-content {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.nx-helper-content > *:not(:last-child) {
	margin-bottom: 20px;
}

.break-650 .nx-helper-content {
	max-width: unset;
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
}

.nx-helper-content .nx-icon {
	margin-left: auto;
	margin-right: auto;
}

.nx-helper-icon {
	width: 120px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* ---------------- */
/* Title & Subtitle */
/* ---------------- */

.nx-helper-title {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: black;
}
.ui-dark .nx-helper-title {
	color: white;
}

.nx-helper-subtitle {
	font-size: 14px;
	text-align: center;
}

/* --- */
/* Img */
/* --- */

.nx-helper-img img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100px;
}


/* Badge */
/* ================================================================================================== */

.nx-badge-wrapper {
	position: relative;
}

.nx-badge {

}


/* NavCard */
/* ================================================================================================== */

.nx-nav-card {
	flex: 1;
	border-radius: 8px !important;
	display: flex;
	flex-direction: column;
	min-height: 90px;
	min-width: 60px;
	transition: .25s!important;
	background-color: white;
	box-shadow: 0px 0px 30px #cfd8dc;
}
.ui-dark .nx-nav-card {
	background-color: #404040;
	box-shadow: 0px 0px 30px black;
}

.nx-nav-card.list {
	flex-direction: row;
	align-items: center;
	min-height: 60px;
	min-width: 200px;
}

.nx-nav-card.clickable {
	cursor: pointer;
}

.nx-nav-card.clickable:hover {
	box-shadow: 0px 0px 30px gray;
}
.ui-dark .nx-nav-card.clickable:hover {
	box-shadow: 0px 0px 30px #424242;
}

.nx-nav-card.clickable:active {
	transform: scale(0.95);
}

/* Icon */
/* -------------------------------------------------------------------------------- */

.nx-nav-card-icon {
	display: flex;
	align-items: center;
	flex: 1;
}

.nx-nav-card.list .nx-nav-card-icon {
	padding: 0px 20px;
	flex: none;
}

/* Label */
/* -------------------------------------------------------------------------------- */

.nx-nav-card-label {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 700;
	padding: 8px 6px;
	text-align: center;
	transition: .5s!important;
	flex: none;
}

.nx-nav-card.list .nx-nav-card-label {
	font-size: 13px;
	text-align: left;
	flex: 1;
}


/* Heading */
/* ================================================================================================== */

.nx-heading {
	font-weight: 700;
	font-size: 14px;
	color: gray;
}
.ui-dark .nx-heading {
	color: #bdbdbd;
}

/* Outlined */
/* -------------------------------------------------------------------------------- */

.nx-heading.outlined {
	padding: 5px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.ui-dark .nx-heading.outlined {
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

/* Contained */
/* -------------------------------------------------------------------------------- */

.nx-heading.contained {
	padding: 5px 10px;
	color: white;
	border-radius: 3px;
}

/* Paper */
/* -------------------------------------------------------------------------------- */

.nx-heading.paper {
	padding: 5px 10px;
	border-radius: 3px;
	background-color: white;
	box-shadow: 0px 0px 10px lightgray;
}
.ui-dark .nx-heading.paper {
	background-color: #6F6F6F;
	box-shadow: 0px 0px 10px black;
}


/* Section */
/* ================================================================================================== */

.nx-section {
	border-radius: 3px;
	margin-bottom: 20px;
	background-color: white;
	box-shadow: 0 0 10px #d3d3d3;
}
.ui-dark .nx-section {
	background-color: #414141;
	box-shadow: 0 0 10px black;
}

/* Header */
/* -------------------------------------------------------------------------------- */

.nx-section-header {
	min-height: 39px;
	display: flex;
	align-items: center;
	border-radius: 3px 3px 0px 0px;
	background-color: #fafafa;
}
.ui-dark .nx-section-header {
	background-color: #6F6F6F;
}

.nx-section-icon {
	padding: 8px 8px 8px 10px;
}
.ui-dark .nx-section-icon svg {
	fill: white;
}

.nx-section-header-title {
	font-size: 15px;
	font-family: sans-serif;
	font-weight: 700;
	flex: 1;
	padding: 0px 10px;
	color: #757575;
}
.ui-dark .nx-section-header-title {
	color: #bdbdbd;
}

/* Content */
/* -------------------------------------------------------------------------------- */

.nx-section-content {
	padding: 10px;
}

/* Footer */
/* -------------------------------------------------------------------------------- */

.nx-section-buttonset {
	padding: 10px;
}


/* Row */
/* ================================================================================================== */

.nx-row.margin-bottom-small:not(:last-child) {
	margin-bottom: 5px;
}

.nx-row.margin-bottom-normal:not(:last-child) {
	margin-bottom: 10px;
}

.nx-row.margin-bottom-large:not(:last-child) {
	margin-bottom: 20px;
}

.nx-row.margin-bottom-large:not(:last-child) {
	margin-bottom: 30px;
}



/* Field */
/* ================================================================================================== */

.nx-field.error {
	background: linear-gradient(0deg, rgba(255,0,0,.06), transparent);
	border-radius: 3px;
}

/* Label */
/* -------------------------------------------------------------------------------- */

.nx-field-label {
	font-size: 14px;
	font-weight: 700;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	letter-spacing: .00938em;
	margin-bottom: 3px;
	min-height: 18px;
	color: grey;
}
.ui-dark .nx-field-label {
	color: #bdbdbd;
}

.nx-field.disabled .nx-field-label {
	opacity: 0.7;
}

.nx-field.error .nx-field-label {
	color: red;
}

/* Input */
/* -------------------------------------------------------------------------------- */

.nx-input-wrapper {
	position: relative;
}

/* --------- */
/* Adornment */
/* --------- */

.nx-input-wrapper.with-start-adornment .nx-input-start-adornment {
	flex: none;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 7px;
	opacity: 0.5;
}
.nx-input-wrapper.with-end-adornment .nx-input-end-adornment {
	flex: none;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 7px;
	opacity: 0.5;
}

.nx-field.outlined .nx-input-wrapper.with-start-adornment .nx-input-start-adornment {
	flex: none;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 7px 0px;
	opacity: 0.5;
}
.nx-field.outlined .nx-input-wrapper.with-end-adornment .nx-input-end-adornment {
	flex: none;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 7px 0px;
	opacity: 0.5;
}

/* ---- */
/* Node */
/* ---- */

.nx-field-input,
.nx-field-select,
.nx-field-textarea {
	padding: 7px 14px;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	box-sizing: border-box;
	line-height: 23px;
	border-radius: 4px;
	font-size: 12px;
	outline: none;
	margin: 0px;
	width: 100%;
	min-height: 38px;
	background-color: #FFFFFF;
	color: #000000;
}

.ui-dark .nx-field-input,
.ui-dark .nx-field-select,
.ui-dark .nx-field-textarea {
	background-color: #414141;
	color: #FFFFFF;
}

.nx-field.outlined .nx-field-input,
.nx-field.outlined .nx-field-select,
.nx-field.outlined .nx-field-textarea {
	padding: 2px 0px;
	background-color: transparent;
	border-left: none;
	border-right: none;
	border-top: none;
	border-width: 2px;
	border-radius: 0px;
	min-height: 32px;
}

.nx-field.contained.focused .nx-field-input,
.nx-field.contained.focused .nx-field-select,
.nx-field.contained.focused .nx-field-textarea {
	padding: 6px 13px;
}

.nx-field.contained.focused .nx-input-wrapper.with-start-adornment .nx-field-input,
.nx-field.contained.focused .nx-input-wrapper.with-start-adornment .nx-field-select,
.nx-field.contained.focused .nx-input-wrapper.with-start-adornment .nx-field-textarea {
	padding-left: 35px;
}

.nx-field.contained.focused .nx-input-wrapper.with-end-adornment .nx-field-input,
.nx-field.contained.focused .nx-input-wrapper.with-end-adornment .nx-field-select,
.nx-field.contained.focused .nx-input-wrapper.with-end-adornment .nx-field-textarea {
	padding-right: 35px;
}

/* ------ */
/* Border */
/* ------ */

.nx-field.contained .nx-field-input,
.nx-field.contained .nx-field-select,
.nx-field.contained .nx-field-textarea {
	border: 1px solid rgba(0, 0, 0, 0.23);
}
.ui-dark .nx-field.contained .nx-field-input,
.ui-dark .nx-field.contained .nx-field-select,
.ui-dark .nx-field.contained .nx-field-textarea {
	border: 1px solid rgba(255, 255, 255, 0.23);
}

.nx-field.outlined.white .nx-field-input,
.nx-field.outlined.white .nx-field-select,
.nx-field.outlined.white .nx-field-textarea {
	color: white;
	font-size: 14px; /* A voir */
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.nx-field.disabled .nx-field-input,
.nx-field.disabled .nx-field-select,
.nx-field.disabled .nx-field-textarea {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.nx-field:not(.disabled) .nx-field-input:hover,
.nx-field:not(.disabled) .nx-field-select:hover,
.nx-field:not(.disabled) .nx-field-textarea:hover {
	border: 1px solid rgba(0, 0, 0, 0.87);
}
.ui-dark .nx-field:not(.disabled) .nx-field-input:hover,
.ui-dark .nx-field:not(.disabled) .nx-field-select:hover,
.ui-dark .nx-field:not(.disabled) .nx-field-textarea:hover {
	border: 1px solid rgba(255, 255, 255, 0.87);
}

.nx-field.outlined:not(.disabled) .nx-field-input:hover,
.nx-field.outlined:not(.disabled) .nx-field-select:hover,
.nx-field.outlined:not(.disabled) .nx-field-textarea:hover {
	border-left: none;
	border-right: none;
	border-top: none;
}

.nx-field.outlined.white .nx-field-input:hover,
.nx-field.outlined.white .nx-field-select:hover,
.nx-field.outlined.white .nx-field-textarea:hover {
	border-bottom: 2px solid rgba(255, 255, 255, 0.87);
}

.nx-field.error .nx-field-input,
.nx-field.error .nx-field-select,
.nx-field.error .nx-field-textarea {
	border: 1px solid red;
}

/* ------- */
/* Padding */
/* ------- */

.nx-input-wrapper.with-start-adornment .nx-field-input,
.nx-input-wrapper.with-start-adornment .nx-field-select,
.nx-input-wrapper.with-start-adornment .nx-field-textarea {
	padding-left: 36px;
}

.nx-field.white .nx-input-wrapper.with-start-adornment .nx-field-input,
.nx-field.white .nx-input-wrapper.with-start-adornment .nx-field-select,
.nx-field.white .nx-input-wrapper.with-start-adornment .nx-field-textarea {
	padding-left: 26px;
}

.nx-input-wrapper.with-end-adornment .nx-field-input,
.nx-input-wrapper.with-end-adornment .nx-field-select,
.nx-input-wrapper.with-end-adornment .nx-field-textarea {
	padding-right: 36px;
}

.nx-field.white .nx-input-wrapper.with-end-adornment .nx-field-input,
.nx-field.white .nx-input-wrapper.with-end-adornment .nx-field-select,
.nx-field.white .nx-input-wrapper.with-end-adornment .nx-field-textarea {
	padding-right: 26px;
}

/* ----------- */
/* Placeholder */
/* ----------- */

.nx-field.outlined.white .nx-field-input::placeholder,
.nx-field.outlined.white .nx-field-select::placeholder,
.nx-field.outlined.white .nx-field-textarea::placeholder {
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px; /* A voir */
}

/* Select */
/* -------------------------------------------------------------------------------- */

.nx-field-select {
	-webkit-appearance: none;
	background-color: white;
}

/* Error */
/* -------------------------------------------------------------------------------- */

.nx-field-error {
	color: red;
	padding: 8px 10px;
	font-size: 13px;
}



/* Typography */
/* ================================================================================================== */

.nx-typography.default {
	font-size: 14px;
}

.nx-typography.small {
	font-size: 12px;
}

/* ----- */
/* Title */
/* ----- */

.nx-typography.title {
	font-size: 15px;
	font-weight: bold;
}

/* ----------- */
/* Description */
/* ----------- */

.nx-typography.description {
	/*color: gray;*/
}




/* Indicator */
/* ================================================================================================== */

.nx-indicator {
	padding: 4px 10px;
	text-align: center;
	font-size: 14px;
	border-radius: 20px;
}





/* Grid */
/* ================================================================================================== */

.nx-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


/* Alert */
/* ================================================================================================== */

.nx-alert {
	display: flex;
	align-items: center;
	border-radius: 4px;
}

.nx-alert-content {
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}


/* Link */
/* ================================================================================================== */

.nx-link {
	font-size: 14px;
}


/* Playground Icon */
/* ================================================================================================== */

.nx-playground-icon-card {
	height: 60px;
	width: 60px;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	align-items: center;
	flex-direction: column;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	padding: 5px;
}

.nx-playground-icon-card:hover {
	background-color: rgba(0, 0, 0, 0.05);
}
.ui-dark .nx-playground-icon-card:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

.nx-playground-icon-card:active {
	transform: scale(0.95);
}

/* Icon */
/* -------------------------------------------------------------------------------- */

.nx-playground-icon {
	flex: 1;
	display: flex;
	align-items: center;
}

.nx-playground-icon svg {
	margin-right: auto;
	margin-left: auto;
}

/* Name */
/* -------------------------------------------------------------------------------- */

.nx-playground-icon-name {
	text-align: center;
	font-size: 12px;
	padding: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	color: #5F6368;
}
.ui-dark .nx-playground-icon-name {
	color: lightgray;
}




/* List */
/* ================================================================================================== */

.nx-list {

}

/* Item */
/* -------------------------------------------------------------------------------- */

.nx-list-item {
	min-height: 48px;
	display: flex;
	align-items: center;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nx-list-item.clickable {
	cursor: pointer;
}

.nx-list-item:hover {
	background-color: rgba(0, 0, 0, 0.04);
}
.ui-dark .nx-list-item:hover {
	background-color: rgba(255, 255, 255, 0.04);
}

.nx-list-item.clickable:active {
	background-color: rgba(0, 0, 0, 0.1);
}
.ui-dark .nx-list-item.clickable:active {
	background-color: rgba(255, 255, 255, 0.1);
}

/* ---- */
/* Icon */
/* ---- */

.nx-list-icon {

}

/* ---- */
/* Text */
/* ---- */

.nx-list-text {
	padding-left: 18px;
	padding-right: 18px;
	box-sizing: border-box;
	flex: 1;
}

.nx-list-text-primary {
	font-size: 14px;
	color: black;
}

.nx-list-text-secondary {
	font-size: 12px;
	color: gray;
}

/* Nested */
/* -------------------------------------------------------------------------------- */

.nx-list-nested {
	padding: 18px;
	font-size: 14px;
}











/* Menu */
/* ================================================================================================== */

.nx-menu {
	width: 240px;
	padding-top: 10px;
	box-sizing: border-box;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	background-color: #FFFFFF;
	border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.ui-dark .nx-menu {
	background-color: #121212;
	border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.nx-menu.retracted {
	width: 48px;
	overflow: hidden;
}

/* Header */
/* -------------------------------------------------------------------------------- */

.nx-menu-header {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 5px;
	min-height: 58px;
	text-align: center;
	/*box-shadow: 0px 0px 10px black;*/
	box-shadow: none;
	margin-bottom: 10px;
}
.break-650 .nx-menu-header {
	min-height: 48px;
}

.nx-menu-header label {
	flex: 1;
	font-weight: bold;
	color: white;
}

/* Content */
/* -------------------------------------------------------------------------------- */

.nx-menu-content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
}

/* ----- */
/* Title */
/* ----- */

.nx-menu-title {
	font-size: 0.875rem;
	letter-spacing: 0.01071em;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	color: gray;
	font-weight: 700;
	height: 36px;
	line-height: 36px;
	padding: 0px 14px;
}

/* ---- */
/* Item */
/* ---- */

.nx-menu-items-wrapper {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

.nx-menu-item {
	display: flex;
	align-items: center;
	height: 36px;
	cursor: pointer;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
}
.nx-menu-item.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.nx-menu-item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.ui-dark .nx-menu-item:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.nx-menu-item:active {
	background-color: rgba(0, 0, 0, 0.2);
}
.ui-dark .nx-menu-item:active {
	background-color: rgba(255, 255, 255, 0.2);
}

.nx-menu-item .nx-avatar {
	margin-right: 16px;
	/*opacity: 0.5;*/
}
.nx-menu-item.active .nx-avatar {
	opacity: 1;
}

.nx-menu-item-label {
	font-size: 14px;
	/*color: black;*/
}
.ui-dark .nx-menu-item-label {
	/*color: white;*/
}

/* ------ */
/* Switch */
/* ------ */

.nx-menu-switch {

}




/* About */
/* ================================================================================================== */

.nx-about-changeset {
	font-size: 12px;
	color: gray;
}









/* Popover */
/* ================================================================================================== */

.nx-popover-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 500;
}

.nx-popover {
	position: absolute;
	border-radius: 4px;
	z-index: 510;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px gray;
}
.ui-dark .nx-popover {
	background-color: #2F2F2F;
	box-shadow: 0px 0px 10px black;
}


/* Header */
/* ================================================================================================== */

.nx-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	flex-shrink: 0;
	position: relative;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	/*box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;*/
	-webkit-app-region: drag;
	box-sizing: border-box;
	min-height: 48px;
	background-color: transparent !important;
	box-shadow: 0px 0px 10px #d3d3d3;
	z-index: 100;
}
.ui-dark .nx-header {
	box-shadow: 0px 0px 10px black;
}

.nx-header-grooves {
	background: linear-gradient(45deg, #000 1%, transparent 1%, transparent 49%, #000 49%, #000 51%, transparent 51%, transparent 99%, #000 99%);
	background-size: 6px 6px;
	background-position: 50px 50px;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	z-index: 125;
	opacity: 0.2;
}
/*.ui-dark .nx-header-grooves {
	background: linear-gradient(45deg, #FFF 1%, transparent 1%, transparent 49%, #FFF 49%, #FFF 51%, transparent 51%, transparent 99%, #FFF 99%) !important;
}
*/
.nx-header-toolbar {
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-column-gap: all;
	z-index: 150;
}

.break-650 .nx-header-toolbar {
	padding-top: 0px;
	padding-bottom: 0px;
}

.nx-header-divider {
	flex: none;
	min-width: 1px;
	max-width: 1px;
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

/* Left */
/* -------------------------------------------------------------------------------- */

.nx-header-left {
	flex: none;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.desktop .nx-header.menu-expanded .nx-header-left {
	margin-right: -240px;
}
.desktop .nx-header.menu-retracted .nx-header-left {
	margin-right: -58px;
}

.electron .nx-header-left {
	padding-left: 70px;
}

/* ----- */
/* Title */
/* ----- */

.nx-header-title {
	font-size: 16px;
}
.nx-header-titles-wrapper.centered .nx-header-title {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.nx-header-subtitle {
	font-size: 13px;
	opacity: 0.8;
}
.nx-header-titles-wrapper.centered .nx-header-subtitle {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

/* Middle */
/* -------------------------------------------------------------------------------- */

.nx-header-middle {
	flex: 1;
}

.desktop .nx-header.menu-expanded .nx-header-middle {
	padding-left: 240px;
}
.desktop .nx-header.menu-retracted .nx-header-middle {
	padding-left: 58px;
}

/* Right */
/* -------------------------------------------------------------------------------- */

.nx-header-right {
	flex: none;
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-left: auto;
}

/* --------- */
/* User Menu */
/* --------- */

.nx-account-name {
	padding: 5px 10px;
	font-weight: bold;
	font-size: 14px;
	color: white;
	background-color: dimgray;
	border-radius: 4px 4px 0px 0px;
}



/* Snackbar */
/* ================================================================================================== */

.nx-snackbar {
	min-width: 288px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.43;
	font-size: 0.875rem;
	letter-spacing: 0.01071em;
	color: white;
	display: flex;
	align-items: center;
	padding: 6px;
	border-radius: 4px;

	position: absolute;
	bottom: 24px;
	left: 50%;
	right: auto;
	transform: translateX(-50%);
}

.nx-snackbar-msg {
	flex: 1;
}



/* Label */
/* ================================================================================================== */

.nx-label {
	font-size: 14px;
	color: gray;
}

.nx-label.revnumber {
	padding: 40px 10px;
	text-align: center;
	font-size: 12px;
	opacity: 0.5;
}


/* Right Item */
/* ================================================================================================== */

.c-right-item {
	display: flex;
	align-items: center;
}

.c-right-item-icon {
	max-width: 32px;
	margin-right: 20px;
}

.c-right-item-name {
	flex: 1;
	font-size: 14px;
	font-weight: bold;
	color: rgb(164, 164, 164);
}






/* NxApp */
/* ================================================================================================== */

#nx-app {
	margin: 0px;
	font-family: Roboto;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;

}

.selectable {
	user-select: text;
	-webkit-user-select: text;
	cursor: text;
}

.pointer {
	cursor: pointer;
}

/* Scrollbars */
/* -------------------------------------------------------------------------------- */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
	display: none;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
	border-radius: 10px;
	background-color: #C3C3C3;
}
.ui-dark ::-webkit-scrollbar-thumb:vertical,
.ui-dark ::-webkit-scrollbar-thumb:horizontal {
	-webkit-box-shadow: none;
	background-color: #6C6B6B;
}

/* Layout */
/* -------------------------------------------------------------------------------- */

#nx-base {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#nx-content {
	display: flex;
	flex-grow: 1;
	overflow: auto;
}

#nx-main {
	flex-grow: 1;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	background-color: #F5F5F5;
}
.ui-dark #nx-main {
	background-color: #1E2020;
}

.nx-page {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 10px;
}
.break-414 .nx-page {
	padding: 10px 10px 20px 10px;
}

.nx-page.small {
	max-width: 500px;
}

/* Flex */
/* -------------------------------------------------------------------------------- */

/* Vertical */

.v-col,
.v-col-tiny,
.v-col-small,
.v-col-medium,
.v-col-large,
.v-col-xlarge {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.v-col > *,
.v-col-tiny > *,
.v-col-small > *,
.v-col-medium > *,
.v-col-large > *,
.v-col-xlarge > * {
	flex: 1;
}

.v-col-tiny > *:not(:last-child) {
	margin-bottom: 5px;
}

.v-col-small > *:not(:last-child) {
	margin-bottom: 0.75rem;
}

.v-col-medium > *:not(:last-child) {
	margin-bottom: 1.15rem;
}

.v-col-large > *:not(:last-child) {
	margin-bottom: 1.5rem;
}

.v-col-xlarge > *:not(:last-child) {
	margin-bottom: 2rem;
}

/* Horizontal */

.h-col,
.h-col-small,
.h-col-medium,
.h-col-large,
.h-col-xlarge {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.h-col > *,
.h-col-small > *,
.h-col-medium > *,
.h-col-large > *,
.h-col-xlarge > * {
	flex: 1;
}

.h-col-small > *:not(:last-child) {
	margin-right: 0.75rem;
}
.h-col-medium > *:not(:last-child) {
	margin-right: 1.5rem;
}
.h-col-large > *:not(:last-child) {
	margin-right: 3.5rem;
}
.h-col-xlarge > *:not(:last-child) {
	margin-right: 4.5rem;
}

.break-414 .h-col.responsive-vertical > *,
.break-414 .h-col-small.responsive-vertical > *,
.break-414 .h-col-medium.responsive-vertical > *,
.break-414 .h-col-large.responsive-vertical > *,
.break-414 .h-col-xlarge.responsive-vertical > * {
	margin-right: 0px;
}

@media screen and (max-width: 414px) {
	.h-col.responsive-vertical > *,
	.h-col-small.responsive-vertical > *,
	.h-col-medium.responsive-vertical > *,
	.h-col-large.responsive-vertical > *,
	.h-col-xlarge.responsive-vertical > * {
		margin-right: 0px;
	}
}

.break-650 .h-col.fast-responsive-vertical > *,
.break-650 .h-col-small.fast-responsive-vertical > *,
.break-650 .h-col-medium.fast-responsive-vertical > *,
.break-650 .h-col-large.fast-responsive-vertical > *,
.break-650 .h-col-xlarge.fast-responsive-vertical > * {
	margin-right: 0px;
}

@media screen and (max-width: 650px) {
	.h-col.fast-responsive-vertical > *,
	.h-col-small.fast-responsive-vertical > *,
	.h-col-medium.fast-responsive-vertical > *,
	.h-col-large.fast-responsive-vertical > *,
	.h-col-xlarge.fast-responsive-vertical > * {
		margin-right: 0px;
	}
}

/* Alignements */

.flex-align-start {
	align-items: flex-start;
}

.flex-align-end {
	align-items: flex-end;
}

.flex-align-center {
	align-items: center;
}

.flex-align-stretch {
	align-items: stretch;
}

/* Justify */

.flex-justify-space-between {
	justify-content: space-between;
}

.flex-justify-space-around {
	justify-content: space-around;
}

/* Dimentions */

*[flex="0"], *[data-flex="0"], .flex-0 { flex:none !important; }
*[flex="1"], *[data-flex="1"], .flex-1 { flex:1; }
*[flex="2"], *[data-flex="2"], .flex-2 { flex:2 !important; }
*[flex="3"], *[data-flex="3"], .flex-3 { flex:3 !important; }
*[flex="4"], *[data-flex="4"], .flex-4 { flex:4 !important; }
*[flex="5"], *[data-flex="5"], .flex-5 { flex:5 !important; }
*[flex="6"], *[data-flex="6"], .flex-6 { flex:6 !important; }
*[flex="7"], *[data-flex="7"], .flex-7 { flex:7 !important; }
*[flex="8"], *[data-flex="8"], .flex-8 { flex:8 !important; }
*[flex="9"], *[data-flex="9"], .flex-9 { flex:9 !important; }
*[flex="10"], *[data-flex="10"], .flex-10 { flex:10 !important; }
*[flex="11"], *[data-flex="11"], .flex-11 { flex:11 !important; }

/* Responsive */
/* -------------------------------------------------------------------------------- */

.responsive-only {
	display: none !important;
}

/* Break visibility */

.break-650 .responsive-only,
.break-414 .responsive-only {
	display: flex !important;
}

.break-650 .responsive-hidden,
.break-414 .responsive-hidden {
	display: none !important;
}

@media screen and (max-width: 650px) {
	.responsive-only {
		display: flex !important;
	}
	.responsive-hidden {
		display: none !important;
	}
}

/* Break orientation */

.break-414 .responsive-vertical {
	flex-direction: column !important;
}
.break-414 .responsive-vertical-reverse {
	flex-direction: column-reverse !important;
}

.break-414 .responsive-horizontal {
	flex-direction: row !important;
}
.break-414 .responsive-horizontal-reverse {
	flex-direction: row-reverse !important;
}

@media screen and (max-width: 414px) {
	.responsive-vertical {
		flex-direction: column !important;
	}
	.responsive-vertical.responsive-spaced-none > *:not(:last-child) {
		margin-bottom: 0px !important;
	}
	.responsive-vertical.responsive-spaced-small > *:not(:last-child) {
		margin-bottom: 5px !important;
	}
	.responsive-vertical.responsive-spaced-medium > *:not(:last-child) {
		margin-bottom: 10px !important;
	}
	.responsive-vertical.responsive-spaced-large > *:not(:last-child) {
		margin-bottom: 20px !important;
	}
}

@media screen and (max-width: 650px) {
	.fast-responsive-vertical {
		flex-direction: column !important;
	}
	.fast-responsive-vertical.responsive-spaced-none > *:not(:last-child) {
		margin-bottom: 5px !important;
	}
	.fast-responsive-vertical.responsive-spaced-small > *:not(:last-child) {
		margin-bottom: 5px !important;
	}
	.fast-responsive-vertical.responsive-spaced-medium > *:not(:last-child) {
		margin-bottom: 10px !important;
	}
	.fast-responsive-vertical.responsive-spaced-large > *:not(:last-child) {
		margin-bottom: 20px !important;
	}
}

/* Break alignment */

.break-414 .responsive-centered {
	margin-left: auto;
	margin-right: auto;
}

.break-414 .responsive-align-start {
	align-items: flex-start !important;
}
.break-414 .responsive-align-stretch {
	align-items: stretch !important;
}

@media screen and (max-width: 414px) {
	.responsive-align-start {
		align-items: flex-start !important;
	}
	.responsive-align-stretch {
		align-items: stretch !important;
	}
}
@media screen and (max-width: 650px) {
	.responsive-align-start {
		align-items: flex-start !important;
	}
	.responsive-align-stretch {
		align-items: stretch !important;
	}
}

/* Break paddings */

.break-414 .responsive-vertical > *:not(:last-child) {
	margin-right: 0px;
	margin-bottom: 10px;
}

.break-414 .break-h-padding {
	padding: 0px 12px;
}
.break-375 .break-h-padding {
	padding: 0px 10px;
}
.break-320 .break-h-padding {
	padding: 0px 8px;
}

.break-414 .break-v-top-padding {
	padding-top: 12px;
}
.break-375 .break-v-top-padding {
	padding-top: 10px;
}
.break-320 .break-v-top-padding {
	padding-top: 8px;
}

.break-414 .break-v-padding {
	padding: 12px 0px;
}
.break-375 .break-v-padding {
	padding: 10px 0px;
}
.break-320 .break-v-padding {
	padding: 8px 0px;
}

/* Theme */
/* -------------------------------------------------------------------------------- */

/* ---------- */
/* Typography */
/* ---------- */

.nx-t {
	font-size: 14px;
}

.nx-t-left {
	text-align: left;
}

.nx-t-center {
	text-align: center;
}

.nx-t-right {
	text-align: right;
}

/* - */

.nx-t-default {
	color: black;
}
.ui-dark .nx-t-default {
	color: white;
}



/* Search */
/* ================================================================================================== */

/* Header */
/* -------------------------------------------------------------------------------- */

.nx-main-search-field {
	min-width: 260px;
}

.break-320 .nx-main-search-field {
	min-width: 200px;
}

.break-414 .nx-main-search-field {
	min-width: 230px;
}


/* Paper */
/* ================================================================================================== */

.nx-paper {
	border-radius: 3px!important;
	padding: 10px;
	background-color: white;
	box-shadow: 0 0 10px #d3d3d3;
}
.ui-dark .nx-paper {
	background-color: #414141;
	box-shadow: 0 0 10px black;
}


/* Project Card */
/* ================================================================================================== */

.nm-projet-card:not(:last-child) {
	margin-bottom: 10px;
}

/* Thumbnail */
/* -------------------------------------------------------------------------------- */

.nm-project-thumbnail {
	flex: none;
}


/* Projects */
/* ================================================================================================== */

.nm-projects-cards {
	margin-bottom: 20px;
}






/* Nexorium */
/* ================================================================================================== */

.nexorium .nx-header-grooves {
	opacity: 1;
}

.nexorium .nx-header-toolbar {
	background: linear-gradient(rgba(87, 103, 191, 0.8), rgba(10, 26, 114, 0.8));
}

